In [1]:
print("this is my laptop")

this is my laptop

In [2]:
l = [456,68,43,324]

In [3]:
l

[456, 68, 43, 324]

In [4]:
len(l)

4

In [5]:
type(l)

list

In [12]:
# let's see how to make function it increases the reusibility and modirality so we write code in a structure way # start with def and write the definition

In [13]:
def test():
    pass

In [14]:
def test():
    print("THIS is my laptop")

In [15]:
test()

THIS is my laptop

In [18]:
# test()+"roni"
# it is notype therfore it is not given any outcome

In [19]:
def test1():
    return "this is my function class"

In [21]:
test1()

'this is my function class'

In [24]:
test1() + "of a pw data science course"

'this is my function classof a pw data science course'

In [27]:
#  print always give nontype a whereas return can return the datatype which can we caled

In [30]:
def test3():
    return "ice-cream",45,True,56564,[56,667,34]
# return in the form of list

In [31]:
test3()

('ice-cream', 45, True, 56564, [56, 667, 34])

In [33]:
a,b,c,d,e = test3()

In [34]:
a

'ice-cream'

In [35]:
b

45

In [36]:
c

True

In [37]:
d

56564

In [38]:
e

[56, 667, 34]

In [42]:
a,b =1,4
# it is similar to variable declartion

In [40]:
a

1

In [41]:
b

4

In [47]:
def test4():
    a= 4+64/4
    return a

In [48]:
test4()

20.0

In [51]:
def test5(a,b,c):
    d = a+b/c
    return d
# here we pass arguments

In [54]:
# test5() its written error bcoz arguments not given to test5

In [55]:
test5(3,4,5)

3.8

In [59]:
def test6(a,h):
    return a+h

In [60]:
test6(3,5)

8

In [62]:
test6("grapes"," banana")

'grapes banana'

In [63]:
test6([4,565,5567],[4556,65,56])

[4, 565, 5567, 4556, 65, 56]

In [64]:
# concetinate karke de diya hame

In [78]:
l = [5,55,56.5,23,6,"mercedes",[45,56,True,"ganesh","priyanshi"]]

In [79]:
# integer value ko ek dusre list me nikal kar de de hame aisa code likho

In [80]:
# code without function #
l1 =[]
for i in l:
    if type(i)==int or type(i)== float:
        l1.append(i)

In [81]:
l1

[5, 55, 56.5, 23, 6]

In [82]:
l1 =[]
for i in l:
    if type(i) == int or type(i)==float:
        l1.append(i)

In [83]:
l1

[5, 55, 56.5, 23, 6]

In [84]:
def test7(l):
    l1 = []
    for i in l:
        if type(i) == int or type(i)== float :
            l1.append(i)
    return l1

In [86]:
test7(l)

[5, 55, 56.5, 23, 6]

In [87]:
l

[5, 55, 56.5, 23, 6, 'mercedes', [45, 56, True, 'ganesh', 'priyanshi']]

In [88]:
l[6]

[45, 56, True, 'ganesh', 'priyanshi']

In [95]:
def test8(l):
    l2 =[]
    for i in l:
        if type(i) == list:
            for j in i :
                l2.append(j)
        else:
            if type(i) == int or type(i)==float:
                l2.append(i)
    return l2

In [97]:
test8(l)

[5, 55, 56.5, 23, 6, 45, 56, True, 'ganesh', 'priyanshi']

In [102]:
def test9(l):
    """This is my function to extract numeric data from list"""
    
    l2 =[]
    for i in l:
        if type(i) == list:
            for j in i :
                l2.append(j)
        else:
            if type(i) == int or type(i)==float:
                l2.append(i)
    return l2

In [105]:
test9(l)
# now it shows the docstring whichi have created #

[5, 55, 56.5, 23, 6, 45, 56, True, 'ganesh', 'priyanshi']

In [106]:
def test10(a,b):
    return a + b

In [107]:
# user input computation how ? let's see

In [108]:
def test11(*args):
    return args

In [109]:
test11()

()

In [111]:
type(test11())

tuple

In [112]:
test11(2,4,45)

(2, 4, 45)

In [113]:
# now pass unlimited data #
test11(3,56,"roni",57,"numbers",[45,67,34,89])

(3, 56, 'roni', 57, 'numbers', [45, 67, 34, 89])

In [115]:
# * means n number of arguments can we pass in it # args is not keyword we can give our name also

In [117]:
#  agrs is an inconvention

In [118]:
def test12(*roni):
    return roni

In [119]:
test12(4,56,76,45)

(4, 56, 76, 45)

In [120]:
def test13(*args,a):
    return args ,a

In [121]:
# test13(23,4,3442,6) ...
# it give error bcoz it does'nt understand that the argumrnts given is agrs or a # 
#  To overcome this problem we can define separtely #

In [122]:
test13(3,34,243,54,53,a=45)

((3, 34, 243, 54, 53), 45)

In [123]:
def reg(c,d,a=45,b=6):
    return a,b,c,d

In [125]:
# reg() # error bcoz c and d are not defined #

In [126]:
reg(4,5)

(45, 6, 4, 5)

In [129]:
reg(5,6,a=4,b=7)
#  overwrite the default value #

(4, 7, 5, 6)

In [131]:
#  user ko n number of data chaiye  in a dict format #
# key:value

In [133]:
def gep(**kwargs):
    return kwargs

In [134]:
gep()

{}

In [135]:
type(gep())

dict

In [136]:
gep(a = [4,56,54,34],b="gan",c=5.6)

{'a': [4, 56, 54, 34], 'b': 'gan', 'c': 5.6}

In [138]:
# so we get the key value pair # we can pass n numbers of arguemnts in it ....