In [1]:
l = [4,5,6,2,3,5]

In [2]:
for i in l :
    print(i,type(i))
#     extract one by one from the list #

4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
2 <class 'int'>
3 <class 'int'>
5 <class 'int'>

In [3]:
l

[4, 5, 6, 2, 3, 5]

In [4]:
type(l)

list

In [5]:
l1=["apple","mango","banana"]

In [6]:
for i in l1:
    print(i)

apple
mango
banana

In [7]:
# Extract one by one from the data #

In [8]:
# For else is also a function in python #

In [9]:
l1

['apple', 'mango', 'banana']

In [10]:
for i in l1:
    print(i)
else :
    print("Nothing")

apple
mango
banana
Nothing

In [11]:
# If for loop is able to complete itself than only else will execute #

In [12]:
# Else were not used :#
for i in l1:
    if i== "mango":
        break
    print(i)

apple

In [13]:
# if i value is equal to output than only its can execute  #

In [14]:
l1

['apple', 'mango', 'banana']

In [15]:
for i in l1:
    if i=="mango":
        break
    print(i)
else :
    print("execute this if for loop is able to complete itself")

apple

In [16]:
# else funct execute only when the for loop is movinng full in a circular format #

In [17]:
l1

['apple', 'mango', 'banana']

In [18]:
for i in l1:
    if i == "mango":
        continue
    print(i)

apple
banana

In [19]:
# continue means send the crl to the for loop #

In [20]:
for i in l1:
    if i == "mango":
        continue
    print(i)
else:
    print("execute this if for loop is able to complete itself")

apple
banana
execute this if for loop is able to complete itself

In [21]:
#  Range function is used to generate integer or data #

In [22]:
range(5)

range(0, 5)

In [23]:
list(range(5))

[0, 1, 2, 3, 4]

In [24]:
list(range(0,5,1))
# lower bound upper bouand and jump #

[0, 1, 2, 3, 4]

In [25]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [26]:
# for -ve data

In [27]:
list(range(-10,0))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [28]:
l1

['apple', 'mango', 'banana']

In [29]:
# find in the reverse data#

In [30]:
len(l1)

3

In [31]:
list(range(len(l1)))

[0, 1, 2]

In [32]:
for i in range(len(l1)):
    print(l1[i])

apple
mango
banana

In [33]:
len(l1)

3

In [34]:
list(range(len(l1)-1,-1,-1))

[2, 1, 0]

In [35]:
l1

['apple', 'mango', 'banana']

In [36]:
for i in range(len(l1)-1,-1,-1):
    print(l1[i])
#     Automated way #

banana
mango
apple

In [37]:
# same code can be written in the harcoded format#
for i in [2,1,0]:
    print(l1[i])

banana
mango
apple

In [38]:
for i in l1:
    if i == "mango":
        continue
    print(i)

apple
banana

In [39]:
l2 =[45,67,2,3,563,2,334546,576,23,56,67,3423,454,765432,343,67,45]
# extract the data which present in the even indexes of the position #

In [40]:
l2

[45, 67, 2, 3, 563, 2, 334546, 576, 23, 56, 67, 3423, 454, 765432, 343, 67, 45]

In [41]:
range(0,len(l2),2)

range(0, 17, 2)

In [42]:
list(range(0,len(l2),2))

[0, 2, 4, 6, 8, 10, 12, 14, 16]

In [43]:
for i in range(0,len(l2),2):
    print(l2[i])

45
2
563
334546
23
67
454
343
45

In [44]:
l3 =[4,56,2,354,56,765,78,3,4,56,456,76,321,] 
# summaton using for loop:

In [45]:
sum(l3) 
# it is done internally #

2231

In [46]:
result =0
for i in l3 : 
    result = result + i
result

2231

In [47]:
t =(4,6,23,54,)

In [48]:
for i in t:
    print(i)

4
6
23
54

In [49]:
result =0
for i in t : 
    result = result + i
result

87

In [50]:
g = (3,55,6,"tiger","icecream")

In [51]:
for i in g:
    print(i)

3
55
6
tiger
icecream

In [52]:
G = "Ganesh"

In [53]:
for i in G:
    print(i)

G
a
n
e
s
h

In [54]:
d = {"name":"Priyanshi","topic":["python","stats","ML","DL","CV","NLP","Resume","Interview"]}

In [55]:
d

{'name': 'Priyanshi',
 'topic': ['python', 'stats', 'ML', 'DL', 'CV', 'NLP', 'Resume', 'Interview']}

In [56]:
# print based on the key #

In [57]:
d.keys()

dict_keys(['name', 'topic'])

In [58]:
# same code write in loop #
for i in d.keys():
    print(i)

name
topic

In [59]:
d.values()

dict_values(['Priyanshi', ['python', 'stats', 'ML', 'DL', 'CV', 'NLP', 'Resume', 'Interview']])

In [60]:
for i in d.values():
    print(i)

Priyanshi
['python', 'stats', 'ML', 'DL', 'CV', 'NLP', 'Resume', 'Interview']

In [61]:
# both print #

In [62]:
d.items()

dict_items([('name', 'Priyanshi'), ('topic', ['python', 'stats', 'ML', 'DL', 'CV', 'NLP', 'Resume', 'Interview'])])

In [64]:
for i in d.items():
    print(i)

('name', 'Priyanshi')
('topic', ['python', 'stats', 'ML', 'DL', 'CV', 'NLP', 'Resume', 'Interview'])