In [1]:
l = [4,556,56,32,67,434,234,434]

In [2]:
# perform operations with the below dataset avialble in the list l #

In [3]:
# square of the above number #

In [4]:
def prac(l):
    l1 =[] 
    for i in l:
        l1.append(i**2)
    return l1

In [5]:
prac(l)

[16, 309136, 3136, 1024, 4489, 188356, 54756, 188356]

In [6]:
# one by one parallelilly maped which th input given us with the iterable #

In [7]:
def sq(x):
    return x**2

In [8]:
list(map(sq,l))

[16, 309136, 3136, 1024, 4489, 188356, 54756, 188356]

In [9]:
# we given the external function as sq  #

In [10]:
# now lets write with lambda function #

In [11]:
list(map(lambda x:x**2,l))

[16, 309136, 3136, 1024, 4489, 188356, 54756, 188356]

In [12]:
# ex :2 
l1 = [4,5,6,7]
l2 = [5,6,3,3]
# map in the format of indexing of l1 and l2 : addition

In [13]:
list(map(lambda x,y : x+y,l1,l2))

[9, 11, 9, 10]

In [14]:
sum(l1)

22

In [15]:
sum(l2)

17

In [16]:
# let's write with the lambda function #

In [17]:
def add(x,y):
    return x+y

In [18]:
list(map(add,l1,l2))

[9, 11, 9, 10]

In [19]:
s = "pwskills"

In [20]:
# convert the charcter in the uppercase # using mapper

In [21]:
list(map(lambda s:s.upper(),s))

['P', 'W', 'S', 'K', 'I', 'L', 'L', 'S']

# REDUCE_FUNCTION

In [22]:
# bydefault not available we need to call them from the library #

In [23]:
from functools import reduce

In [24]:
l = [4,5,3,5,3,5,6]

In [25]:
# summation of element of a list #

In [26]:
# collapse and give the result #

In [27]:
reduce(lambda x,y : x+y ,l)

31

In [28]:
sum(l)

31

In [29]:
# reduce function reduce the element and given in a single  format result #

In [30]:
# reduce function cannot introduce 3 paramters such as x,y,z

In [31]:
# exceptional case :
reduce(lambda x,y : x+y ,[1])

1

In [32]:
l

[4, 5, 3, 5, 3, 5, 6]

In [33]:
# find the highest number #

In [34]:
reduce(lambda x,y : x if x >y else y,l)

6

In [35]:
# multiplication of number #

In [36]:
reduce(lambda x,y : x*y ,l)

27000

In [37]:
l

[4, 5, 3, 5, 3, 5, 6]

In [38]:
# find the even number from the above lsit # usinf filter #

In [39]:
list(filter(lambda x : x%2 ==0,l))

[4, 6]

In [40]:
# for odd number #

In [41]:
list(filter(lambda x:x%2 !=0 ,l))

[5, 3, 5, 3, 5]

In [42]:
l1

[4, 5, 6, 7]

In [43]:
l2 =[4,5,3,7,8,-6,-4]

In [44]:
# find the -ve number from the above #

In [45]:
list(filter(lambda x:x<0,l2))

[-6, -4]

In [46]:
l3  =["gan","fre","rgvvr","efds","efssd","sdfgdfd","dssfefd"]

In [47]:
# find the str which has length less than 6 #

In [48]:
list(filter(lambda x :len(x)<6,l3))

['gan', 'fre', 'rgvvr', 'efds', 'efssd']