In [1]:
# list #

In [2]:
G =[4.5,5,4,6,"Ganesh",True,4+7j,]

In [3]:
G

[4.5, 5, 4, 6, 'Ganesh', True, (4+7j)]

In [4]:
type(G)

list

In [5]:
# list available in the square bracket #

In [6]:
G[0]

4.5

In [7]:
G[4]

'Ganesh'

In [8]:
# this is the indexing process of the list ,list also Allows indexing and slicing concpet #

In [9]:
G[3]

6

In [10]:
# l[90] , "list index out of range" , we can also store primitive and non primitive data in the list

In [11]:
G

[4.5, 5, 4, 6, 'Ganesh', True, (4+7j)]

In [12]:
G[0:4]

[4.5, 5, 4, 6]

In [13]:
G[::-1]

[(4+7j), True, 'Ganesh', 6, 4, 5, 4.5]

In [14]:
G[-2]

True

In [15]:
G[0:7:2]

[4.5, 4, 'Ganesh', (4+7j)]

In [16]:
# another method for finding the even indexses data #

In [17]:
G[::2]

[4.5, 4, 'Ganesh', (4+7j)]

In [18]:
G

[4.5, 5, 4, 6, 'Ganesh', True, (4+7j)]

In [19]:
g="ganesh"

In [20]:
# G + g ,list cannot be concetenate with str in such case we use list as function and pass the str.

In [21]:
list(g) + G

['g', 'a', 'n', 'e', 's', 'h', 4.5, 5, 4, 6, 'Ganesh', True, (4+7j)]

In [22]:
# this is like a type conversion but techniically it is trying to convert entire str into a list forward by breaking it into a multiple different kind of a character #

In [23]:
# function called as append is work for such condition #

In [24]:
G

[4.5, 5, 4, 6, 'Ganesh', True, (4+7j)]

In [25]:
# we need to find Gan from "Ganesh"#

In [26]:
G[4]

'Ganesh'

In [27]:
type(G[4])

str

In [28]:
G[4][0:3]
# by using the slicing operation but for boolean we can't find such case

'Gan'

In [29]:
# for boolean we convert them into a str and then find the character of boolean #

In [30]:
str(G[5])[0:3]

'Tru'

In [31]:
# but is not only the boolean after extracting  #

In [32]:
l1 = [4,5,6,8]

In [33]:
# list can we concetenate we list #

In [34]:
G + l1

[4.5, 5, 4, 6, 'Ganesh', True, (4+7j), 4, 5, 6, 8]

In [35]:
l1 * 3
# operation can alsso be done in the list #

[4, 5, 6, 8, 4, 5, 6, 8, 4, 5, 6, 8]

In [36]:
len(G)
# to find the length of a list ,string and all..  #

7

In [37]:
G.append(6) 
# append is an inbuilt function  we can we use for append or add in the list #

In [38]:
G

[4.5, 5, 4, 6, 'Ganesh', True, (4+7j), 6]

In [39]:
G.append(g)

In [40]:
G

[4.5, 5, 4, 6, 'Ganesh', True, (4+7j), 6, 'ganesh']

In [41]:
G.append(l1)

In [42]:
G

[4.5, 5, 4, 6, 'Ganesh', True, (4+7j), 6, 'ganesh', [4, 5, 6, 8]]

In [43]:
# we can store list into a list # we can store multiple list int o list is  called as nested list

In [44]:
G

[4.5, 5, 4, 6, 'Ganesh', True, (4+7j), 6, 'ganesh', [4, 5, 6, 8]]

In [45]:
G[9]

[4, 5, 6, 8]

In [46]:
G[9][1]
# we generally gievn the index position of an list for finding the list position using append function  #

5

In [47]:
G

[4.5, 5, 4, 6, 'Ganesh', True, (4+7j), 6, 'ganesh', [4, 5, 6, 8]]

In [48]:
G.extend("Gupta")
# add the input by breaking it an dint function cannot be extend ,we pass the data is iterable which means data inside the data #

In [49]:
G

[4.5,
 5,
 4,
 6,
 'Ganesh',
 True,
 (4+7j),
 6,
 'ganesh',
 [4, 5, 6, 8],
 'G',
 'u',
 'p',
 't',
 'a']

In [50]:
# extend only the nature of data which is iterable #

In [51]:
G.extend([65,78,90])

In [52]:
G

[4.5,
 5,
 4,
 6,
 'Ganesh',
 True,
 (4+7j),
 6,
 'ganesh',
 [4, 5, 6, 8],
 'G',
 'u',
 'p',
 't',
 'a',
 65,
 78,
 90]

In [53]:
# in extend data is unrap and store it in the list and similarly str can we unrap and store it

In [54]:
# append try to keep data as it is whereas the extend unrap data and store it #

In [55]:
l1

[4, 5, 6, 8]

In [56]:
# in case of extend and append the data can we fixed on the last position now , lets see for the data which can be fixed in a  first position , using insert inbuilt function

In [57]:
l1.insert(2,"gupta")

In [58]:
l1

[4, 5, 'gupta', 6, 8]

In [59]:
l1.insert(3,[4,2,1])

In [60]:
l1

[4, 5, 'gupta', [4, 2, 1], 6, 8]

In [61]:
l1.insert(-1,[55,45])

In [62]:
l1

[4, 5, 'gupta', [4, 2, 1], 6, [55, 45], 8]

In [63]:
l1.pop()

8

In [64]:
l1

[4, 5, 'gupta', [4, 2, 1], 6, [55, 45]]

In [65]:
# (-1) pe data insert kiya but 5th position ka data shift ho gaya  ##

In [66]:
l1.pop(2)

'gupta'

In [67]:
l1

[4, 5, [4, 2, 1], 6, [55, 45]]

In [68]:
l1.remove(4)

In [69]:
l1

[5, [4, 2, 1], 6, [55, 45]]

In [70]:
l1[3].remove(55)

In [71]:
l1

[5, [4, 2, 1], 6, [45]]

In [72]:
l1[1].remove(2)

In [73]:
l1

[5, [4, 1], 6, [45]]

In [74]:
# we can remove the data inside a list but only list-data  not a string because str is a non- mutable object #

In [75]:
l1

[5, [4, 1], 6, [45]]

In [76]:
l1.append(5)

In [77]:
l1

[5, [4, 1], 6, [45], 5]

In [78]:
l1.remove(5)

In [79]:
# always remove first occurence of an object #

In [80]:
l1[::-1]

[5, [45], 6, [4, 1]]

In [81]:
l1.reverse()

In [82]:
l1

[5, [45], 6, [4, 1]]

In [83]:
# reverse permamentely for the code _ and also used  reassignation for such case  #

In [84]:
l1 = l1[::-1]

In [85]:
l1

[[4, 1], 6, [45], 5]

In [86]:
l2 = [3,5,6,3,45,32,78]

In [87]:
l2.sort()

In [88]:
l2

[3, 3, 5, 6, 32, 45, 78]

In [89]:
# basically sorting in the ascending order #

In [90]:
# l1.sort() is not happen because there is the list in the list and same for the str also #

In [91]:
# for sorting algorithm data type must be a same #

In [92]:
l2

[3, 3, 5, 6, 32, 45, 78]

In [93]:
# it is permanent operation #

In [94]:
l3 = ["data scientist","ganesh","gupta","priyanshi"]

In [95]:
l3.sort()

In [96]:
l3

['data scientist', 'ganesh', 'gupta', 'priyanshi']

In [97]:
# for sorting in the descending order #

In [98]:
l3.sort(reverse=True)

In [99]:
l3 
# it can be done permanently #

['priyanshi', 'gupta', 'ganesh', 'data scientist']

In [100]:
l3

['priyanshi', 'gupta', 'ganesh', 'data scientist']

In [101]:
# index operation #

In [102]:
l3.index("data scientist")

3

In [103]:
# basically it defined th index position of the data #

In [104]:
l3.count("ganesh")

1

In [105]:
l3.count("a")

0

In [106]:
# count basically tell the total number of occurence in the list #

In [107]:
g = "Priyanshi"
# let suppose #

In [108]:
l4 =[5,3,2,4,1]

In [109]:
# g[1]="a" str item doesn't support item assignment

In [110]:
l4[0] = "a"

In [111]:
l4

['a', 3, 2, 4, 1]

In [112]:
# mutability : it means the position or the index of acharacter changed

In [113]:
# strings is imutable and list is a mutable object the changes occur which is permanent changes

In [114]:
g.replace('r','a')
# generating a pure new object bcoz it is notchanged permanently

'Paiyanshi'

In [115]:
g

'Priyanshi'

# tuples #

In [116]:
t =(3,56,5.7,5+7j,"gap",True)
# tuple require normal bracket for storing data and it is a collection like list to store data #

In [117]:
t

(3, 56, 5.7, (5+7j), 'gap', True)

In [118]:
type(t)

tuple

In [119]:
len(t)

6

In [120]:
t.count(56)

1

In [121]:
t[-1]

True

In [122]:
t[::-1]

(True, 'gap', (5+7j), 5.7, 56, 3)

In [123]:
t[3]

(5+7j)

In [124]:
# its work like a list then why used tuples ?
# tuples is immutable while list is a mutable object

In [125]:
l4

['a', 3, 2, 4, 1]

In [126]:
l4[0]=56 
# replace 'a' with 56 int

In [127]:
l4

[56, 3, 2, 4, 1]

In [128]:
# example 2 : 
l3

['priyanshi', 'gupta', 'ganesh', 'data scientist']

In [129]:
l3[0]=45

In [130]:
l3

[45, 'gupta', 'ganesh', 'data scientist']

In [131]:
# t[0]="go" its give error bcoz tuples are immutable

In [132]:
# tuples is used when there is no any changes occur for example our password #

In [133]:
# for example hame google account banana hai then we can create and the data is stored behind the signing up page so there is no any other person can change the password while login #

In [134]:
# list is similar to tuples only one difference that is muatability concept #

In [135]:
t.index("gap")

4

In [136]:
t

(3, 56, 5.7, (5+7j), 'gap', True)

In [137]:
t.index(True)

5

SET

In [138]:
# we used curly braceses for set # set is called as dictionaries #

In [139]:
s1={}

In [140]:
type(s1)

dict

In [141]:
s2={3,5,"gag"}

In [142]:
s2

{3, 5, 'gag'}

In [143]:
type(s2)

set

In [144]:
# list cannot we store in the set  while we store tuple it gets in .

In [145]:
# bcoz tuples is immutable it only takes mutable dataset

In [146]:
# for example #
s3 = {4,5,12,4.6,"gag","gg",(4,5,6,7)}

In [147]:
s3

{(4, 5, 6, 7), 12, 4, 4.6, 5, 'gag', 'gg'}

In [148]:
# set is used for removing the duplicates and it cannot arranged the dataset  # # below example ..

In [149]:
s4 = {3,3,3,3,2,2,2,4,6,67,23,4554.7,6,3,9,0,12,45,766,43,445,322,5455,545.55,344,"gg","gg"}

In [150]:
s4

{0,
 12,
 2,
 23,
 3,
 322,
 344,
 4,
 43,
 445,
 45,
 4554.7,
 545.55,
 5455,
 6,
 67,
 766,
 9,
 'gg'}

In [151]:
l6 = [3,3,3,3,2,2,2,4,6,67,23,4554.7,6,3,9,0,12,45,766,43,445,322,5455,545.55,344,"gg","gg"]

In [152]:
l6

[3,
 3,
 3,
 3,
 2,
 2,
 2,
 4,
 6,
 67,
 23,
 4554.7,
 6,
 3,
 9,
 0,
 12,
 45,
 766,
 43,
 445,
 322,
 5455,
 545.55,
 344,
 'gg',
 'gg']

In [153]:
l6 = (set(l6))

In [154]:
l6

{0,
 12,
 2,
 23,
 3,
 322,
 344,
 4,
 43,
 445,
 45,
 4554.7,
 545.55,
 5455,
 6,
 67,
 766,
 9,
 'gg'}

In [155]:
l6 = list((set(l6)))

In [156]:
l6

[0,
 2,
 3,
 4,
 322,
 6,
 67,
 9,
 4554.7,
 12,
 5455,
 23,
 344,
 545.55,
 43,
 45,
 'gg',
 445,
 766]

In [157]:
s3= {4,55,56,23,5656,567,23,89,12,"gr",434,45,23,34}

In [158]:
s3

{12, 23, 34, 4, 434, 45, 55, 56, 5656, 567, 89, 'gr'}

In [159]:
# s5[0] it is not subsriptable

In [160]:
# set does not allows slicingand indexing #

In [161]:
s3.add(4)

In [162]:
s3

{12, 23, 34, 4, 434, 45, 55, 56, 5656, 567, 89, 'gr'}

In [163]:
s3.remove(23)

In [164]:
s3

{12, 34, 4, 434, 45, 55, 56, 5656, 567, 89, 'gr'}

In [165]:
# hashing is different and indexing is different ...Hashing  = element ko unique rakhne ke liye woh ek key genrate karta hai #

In [166]:
# we does not add and remove in the position in case of set  #

In [167]:
l4

[56, 3, 2, 4, 1]

In [168]:
l3

[45, 'gupta', 'ganesh', 'data scientist']

In [169]:
l3+l4
# Addition operation occur #

[45, 'gupta', 'ganesh', 'data scientist', 56, 3, 2, 4, 1]

In [170]:
l4.append(l3)

In [171]:
l4

[56, 3, 2, 4, 1, [45, 'gupta', 'ganesh', 'data scientist']]

In [172]:
l4[5]

[45, 'gupta', 'ganesh', 'data scientist']

In [173]:
l4[5][2]

'ganesh'